body {
    background: #fff;
    padding: 0 20px 0 240px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    letter-spacing: 0.01em;
}

h2 {
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 30px;
}

table {

    border-collapse: collapse;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  th {
    white-space: nowrap;
}
  
  tr:nth-child(even) {
    background-color: #dddddd38
  }
